.cards {
  display: grid;
  @include grid(repeat(5, 1fr), 30px);
  .card {
    @include flex(center, none, center);

    img {
      width: 60px;
      height: 60px;
      margin-right: $md;
      border-radius: 50px;
    }
  }
}
